<tr class="asset">
  <td>
    <%= asset.asset_type %>
  </td>
  <td>
    <%= asset.user.email %>
  </td>
  <td>
    <%= asset.model_number %>
  </td>
  <td>
    <%= asset.serial_number %>
  </td>
  <td>
    <%= asset.approximate_purchase_date %>
  </td>
  <td>
    <%= link_to "Edit", edit_gnar_asset_path(asset), data: {"turbo_frame": "asset_form_frame"}, class: "button standard" %>
  </td>
  <td>
    <%= form_for asset, html: {class: "hidden"} do |f| %>
      <%= f.hidden_field :retired, value: !asset.retired? %>
      <%= f.submit asset.retired? ? "UnRetire" : "Retire", class: 'button standard' %>
    <% end %>
  </td>
</tr>
