<tr class="asset">
  <td>
    <%= asset.asset_type %>
  </td>
  <td>
    <%= asset.user.email %>
  </td>
  <td>
    <%= asset.model_number %>
  </td>
  <td>
    <%= asset.serial_number %>
  </td>
  <td>
    <%= asset.approximate_purchase_date %>
  </td>
</tr>
