<div>
  <%= form_with(url: gnar_assets_path, id: "#{dom_id(asset)}_form") do |form| %>
    <h2 class="title">Add an Asset</h2>
    <% if asset.errors.any? %>
      <div class="errors">
        <ul>
          <% asset.errors.each do |e| %>
            <li class="error-msg"><%= e.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-element">
      <%= form.label :user_id, "User" %>
      <%= form.select :user_id, User.all.map { |u| [u.email, u.id]}, include_blank: true %>
    </div>
    <div class="form-element">
      <%= form.label :asset_type %>
      <%= form.select :asset_type, Gnar::Asset.asset_types, include_blank: true %>
    </div>
    <div class="form-element">
      <%= form.label :approximate_purchase_date %>
      <%= form.date_field :approximate_purchase_date %>
    </div>
    <div class="form-element">
      <%= form.label :mac_address %>
      <%= form.text_field :mac_address %>
    </div>
    <div class="form-element">
      <%= form.label :model_number %>
      <%= form.text_field :model_number %>
    </div>
    <div class="form-element">
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number %>
    </div>
    <div class="form-element">
      <%= form.label :serial_number %>
      <%= form.text_field :serial_number %>
    </div>
    <%= form.submit "Send it!", class: "button special create" %>
  <% end %>
</div>
