<div>
  <%= form_with(model: [:gnar, user, employee_asset], class: 'form-frame', id: "#{dom_id(employee_asset)}_form") do |form| %>
    <h2 class="title"><%= title %></h2>
    <% if employee_asset.errors.any? %>
      <div class="errors">
        <ul>
          <% employee_asset.errors.each do |e| %>
            <li class="error-msg"><%= e.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-element">
      <%= form.label :user_id, "User" %>
      <%= form.select :user_id, User.all.map { |u| [u.email, u.id]}, include_blank: true, value: user&.id  %>
    </div>
    <div class="form-element">
      <%= form.label :asset_type %>
      <%= form.select :asset_type, EmployeeAsset.asset_types, include_blank: true %>
    </div>
    <div class="form-element">
      <%= form.label :approximate_purchase_date %>
      <%= form.date_field :approximate_purchase_date %>
    </div>
    <div class="form-element">
      <%= form.label :mac_address %>
      <%= form.text_field :mac_address %>
    </div>
    <div class="form-element">
      <%= form.label :model_number %>
      <%= form.text_field :model_number %>
    </div>
    <div class="form-element">
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number %>
    </div>
    <div class="form-element">
      <%= form.label :serial_number %>
      <%= form.text_field :serial_number %>
    </div>
    <%= form.submit "Send it!", class: "button special create" %>
    <%= link_to "Cancel", gnar_employee_assets_path, class: "button standard" %>
  <% end %>
</div>
