<!DOCTYPE html>
<html>
  <head>
    <title>G.E.A.R. - The Gnar Employee Asset Repository</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body class="bg-orange-500 flex justify-center">
    <%= yield %>
    <%= render "layouts/flash" %>
  </body>
</html>
